<div style="width: 100%; min-height: 200px; background: linear-gradient(160deg, #007cf0, #00dfd8); display: flex; align-items: center; justify-content: center;">
    <div class="container">
        <div class="text-white" style="fill:#fff">        
            <h1 class="display-3 fw-light">StyleScribe</h1>
        </div>
    </div>
</div>